@include aoa-bg-series($img__classes,$img__aoa,0,"center","cover","scroll");

.bg{
    &-yellow{
        background-color: $color__yellow!important
    }
}
.border{
    &-yellow{
        border-color: $color__yellow!important
    }
}
.privacy{
    &-s1{
        background-position-x: right!important;
    }
}

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
    &-yellow{
        color: $color__yellow!important
    }
}